.u-section-1 {
  background-image: linear-gradient(black, #b3b3b3);
  min-height: 828px;
}

.u-section-1 .u-shape-1 {
  height: 529px;
  margin-top: 394px;
  margin-bottom: 0;
  background-image: linear-gradient(white, black);
}

.u-section-1 .u-image-1 {
  width: 402px;
  height: 402px;
  background-image: url("images/WhatsAppImage2021-10-02at19.42.03.jpeg");
  background-position: 50% 14.23%;
  margin: -844px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  animation-duration: 1000ms;
  margin: 164px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  width: 554px;
  margin: -196px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 700;
  width: 554px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 766px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#e5e5e5, black);
  min-height: 931px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 921px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 488px;
  object-position: 21.18% 50%;
  width: 488px;
  margin: 63px 0 0 57px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 921px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 531px;
  width: 455px;
  margin: -13px 0 0 90px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 190px auto 0 18px;
}

.u-section-2 .u-text-2 {
  margin: 8px 0 0 18px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 445px;
    width: 445px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-2 .u-image-2 {
    height: 519px;
    width: 445px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 335px;
    margin-top: 35px;
    width: 335px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 391px;
    width: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 649px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: linear-gradient(#1a1a1a, #808080);
}

.u-section-3 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 300;
  margin: 54px 0 -17px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 212px 0 0 51px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 51px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1415px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 94px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  width: 524px;
  margin: 12px auto 0;
}

.u-section-4 .u-group-1 {
  width: 403px;
  min-height: 1057px;
  margin: 43px auto 0 43px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 91px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 60px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 60px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-4 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-15 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-4 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 125px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-text-17 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 58px 60px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 616px;
  height: 410px;
  margin: -1098px 33px 0 auto;
}

.u-section-4 .u-list-1 {
  width: 628px;
  margin: 71px 33px 0 auto;
}

.u-section-4 .u-btn-5 {
  background-image: linear-gradient(#db545a, black);
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 472px 39px 0 auto;
  padding: 14px 220px 15px 218px;
}

.u-section-4 .u-icon-5 {
  color: rgb(194, 98, 175) !important;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 404px;
  margin: -508px 33px 60px 512px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 1558px;
  }

  .u-section-4 .u-group-1 {
    width: 349px;
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-4 .u-social-icons-1 {
    width: 126px;
  }

  .u-section-4 .u-image-1 {
    width: 551px;
    height: 412px;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 551px;
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-right: 0;
    padding-right: 187px;
    padding-left: 186px;
  }

  .u-section-4 .u-custom-html-1 {
    margin: -171px 0 0 345px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 483px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 1121px;
    min-height: 1003px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
  }

  .u-section-4 .u-text-17 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 451px;
    margin-top: -2084px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 0;
    padding-left: 271px;
    padding-right: 271px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 838px;
    margin-left: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 516px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 1071px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-17 {
    margin-right: 60px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -2035px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-5 {
    margin-left: auto;
    padding-top: 13px;
    padding-right: 182px;
    padding-left: 180px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 824px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 568px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 51px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -1952px;
    object-position: 74.14% 0%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-5 {
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 818px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 780px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 57px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 571px;
  width: 320px;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 740px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-custom-html-2 {
  height: auto;
  min-height: 680px;
  width: 320px;
  margin: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 740px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-custom-html-3 {
  height: auto;
  min-height: 680px;
  width: 320px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 253px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 610px;
  }

  .u-section-5 .u-custom-html-3 {
    width: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 180px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 180px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-custom-html-3 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1299px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/bdde938a4903b99b93163f818dd746115147c41a6751823897782028a8dc217271ecb50553b584236ff2a4a8743a7ce639f9765f1a873f3d4871df_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 31px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-text-2 {
  width: 527px;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}